<app-blank pageName="{{pageName}}" [routes]="[pageName]">
    <app-section sectionTitle="{{pageName}} Listesi">
        <div class="form-group row">
            <div class="col-9">
                <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
                    <i class="fa-solid fa-plus me-1"></i>
                    Fatura Ekle
                </button>
            </div>
            <div class="col-3">
                <input [(ngModel)]="search" type="search" class="form-control" placeholder="ara...">
            </div>
        </div>
        <div class="form-group mt-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fat. Tar.</th>
                        <th>Fat. No</th>
                        <th>Müşteri</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (model of models | invoice:search; track model) {
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{model.invoiceDate| date:'dd.MM.yyyy'}}</td>
                        <td>{{model.invoiceNumberFull}}</td>
                        <td>{{model.customer.name}}</td>
                        <td>
                            <button (click)="get(model)" data-toggle="modal" data-target="#updateModal"
                                class="btn btn-outline-primary btn-sm">
                                <i class="fa-solid fa-edit"></i>
                            </button>|<button (click)="deleteById(model)" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </app-section>
</app-blank>

<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Fatura</h5>
                <button type="button" #createModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form formValidate #createForm="ngForm" autocomplete="off" (ngSubmit)="create(createForm)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Tarih</label>
                                <input type="date" [(ngModel)]="createModel.invoiceDate" required
                                    class="form-control" name="invoiceDate">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Fatura Numarası</label>
                                <input type="text" [(ngModel)]="createModel.invoiceNumberFull" required
                                    class="form-control" name="invoiceNumberFull">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="{{type == 2 ? 'col-6' : 'col-12'}} ">
                            <div class="form-group">
                                <label>Müşteri</label>
                                <select class="form-control" (change)="setCustomerOrders(1)" name="customer" [(ngModel)]="createModel.customerId"
                                 required>
                                    @for (item of customers; track $index) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        @if (type == 2) {
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Sipariş</label>
                                    <select class="form-control" name="createOrderId" [(ngModel)]="createModel.orderId"
                                     >
                                        @for (item of customerOrders; track $index) {
                                            <option [value]="item.id">{{item.orderNumberFull}}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label>Ürün</label>
                                <select class="form-control" [(ngModel)]="detail.productId" [ngModelOptions]="{standalone:true}">
                                    @for (item of products; track item) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Depo</label>
                                <select class="form-control" [(ngModel)]="detail.depotId" [ngModelOptions]="{standalone:true}">
                                    @for (item of depots; track item) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Adet</label>
                                <input type="number" class="form-control" [(ngModel)]="detail.quantity" 
                                 [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Birim Ücreti</label>
                                <input type="number" class="form-control" [(ngModel)]="detail.price" 
                                 [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Toplam</label>
                                <br>
                                <label>{{detail.price * detail.quantity}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-dark" (click)="addDetail()">Ekle</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ürün Adı</th>
                                    <th>Depo Adı</th>
                                    <th>Adedi</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Toplam</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of createModel.invoiceDetails; track item) {
                                    <tr>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.depot.name}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.price | trCurrency:"₺": true}}</td>
                                        <td>{{item.price * item.quantity | trCurrency:"₺": true}}</td>
                                        <td>
                                            <button (click)="removeDetail($index)"
                                             class="btn btn-outline-danger btn-sm">
                                             <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark w-100">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fatura Güncelleme</h5>
                <button type="button" #updateModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form formValidate #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Tarih</label>
                                <input type="date" [(ngModel)]="updateModel.invoiceDate" required
                                    class="form-control" name="updateModelInvoiceDate">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Fatura Numarası</label>
                                <input type="text" [(ngModel)]="updateModel.invoiceNumberFull" required
                                    class="form-control" name="updateModelInvoiceNumberFull">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="{{type == 2 ? 'col-6' : 'col-12'}} ">
                            <div class="form-group">
                                <label>Müşteri</label>
                                <select class="form-control" name="updateModelCustomer" (change)="setCustomerOrders(2)" [(ngModel)]="updateModel.customerId"
                                 required>
                                    @for (item of customers; track $index) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        @if (type == 2) {
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Sipariş</label>
                                    <select class="form-control" name="updateModelOrderId" [(ngModel)]="updateModel.orderId"
                                     >
                                        @for (item of customerOrders; track $index) {
                                            <option [value]="item.id">{{item.orderNumberFull}}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label>Ürün</label>
                                <select class="form-control" [(ngModel)]="updateDetail.productId" [ngModelOptions]="{standalone:true}">
                                    @for (item of products; track item) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Depo</label>
                                <select class="form-control" [(ngModel)]="updateDetail.depotId" [ngModelOptions]="{standalone:true}">
                                    @for (item of depots; track item) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Adet</label>
                                <input type="number" class="form-control" [(ngModel)]="updateDetail.quantity" 
                                 [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Birim Ücreti</label>
                                <input type="number" class="form-control" [(ngModel)]="updateDetail.price" 
                                 [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Toplam</label>
                                <br>
                                <label>{{updateDetail.price * updateDetail.quantity}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-dark" (click)="addUpdateDetail()">Ekle</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ürün Adı</th>
                                    <th>Depo Adı</th>
                                    <th>Adedi</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Toplam</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of updateModel.invoiceDetails; track item) {
                                    <tr>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.depot.name}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.price | trCurrency:"₺": true}}</td>
                                        <td>{{item.price * item.quantity | trCurrency:"₺": true}}</td>
                                        <td>
                                            <button (click)="updateDetailRemove($index)"
                                             class="btn btn-outline-danger btn-sm">
                                             <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-100">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>