<app-blank pageName="Siparişler" [routes]="['Siparişler']">
    <app-section sectionTitle="Sipariş Listesi">
        <div class="form-group row">
            <div class="col-9">
                <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
                    <i class="fa-solid fa-plus me-1"></i>
                    Sipariş Ekle
                </button>
            </div>
            <div class="col-3">
                <input [(ngModel)]="search" type="search" class="form-control" placeholder="ara...">
            </div>
        </div>
        <div class="form-group mt-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sip. Tar.</th>
                        <th>Sip. No</th>
                        <th>Müşteri</th>
                        <th>Tes. Tar.</th>
                        <th>Durum</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (model of models | order:search; track model) {
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{model.orderDate | date:'dd.MM.yyyy'}}</td>
                        <td>{{model.orderNumberFull}}</td>
                        <td>{{model.customer.name}}</td>
                        <td>{{model.deliveryDate | date:'dd.MM.yyyy'}}</td>
                        <td>{{model.status.name}}</td>
                        <td>
                            <a class="btn btn-outline-dark btn-sm" href="requirements-planning/{{model.id}}" target="_blank" (click)="getList()">
                                <i class="fa-solid fa-list"></i>
                            </a>|<button (click)="get(model)" data-toggle="modal" data-target="#updateModal"
                                class="btn btn-outline-primary btn-sm">
                                <i class="fa-solid fa-edit"></i>
                            </button>|<button (click)="deleteById(model)" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </app-section>
</app-blank>

<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Sipariş</h5>
                <button type="button" #createModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form formValidate #createForm="ngForm" autocomplete="off" (ngSubmit)="create(createForm)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Tarih</label>
                                <input type="date" [(ngModel)]="createModel.orderDate" required
                                    class="form-control" name="orderDate">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Müşteri</label>
                                <select class="form-control" name="customer" [(ngModel)]="createModel.customerId"
                                 required>
                                    @for (item of customers; track $index) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Teslim Tarihi</label>
                                <input type="date" [(ngModel)]="createModel.deliveryDate" required
                                    class="form-control" name="deliveryDate">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label>Ürün</label>
                                <select class="form-control" [(ngModel)]="detail.productId" [ngModelOptions]="{standalone:true}">
                                    @for (item of products; track item) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Adet</label>
                                <input type="number" class="form-control" [(ngModel)]="detail.quantity" 
                                 [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Birim Ücreti</label>
                                <input type="number" class="form-control" [(ngModel)]="detail.price" 
                                 [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Toplam</label>
                                <br>
                                <label>{{detail.price * detail.quantity}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-dark" (click)="addDetail()">Ekle</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ürün Adı</th>
                                    <th>Adedi</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Toplam</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of createModel.orderDetails; track item) {
                                    <tr>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.price | trCurrency:"₺": true}}</td>
                                        <td>{{item.price * item.quantity | trCurrency:"₺": true}}</td>
                                        <td>
                                            <button (click)="removeDetail($index)"
                                             class="btn btn-outline-danger btn-sm">
                                             <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark w-100">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sipariş Güncelleme</h5>
                <button type="button" #updateModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form formValidate #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Tarih</label>
                                <input type="date" [(ngModel)]="updateModel.orderDate" required
                                    class="form-control" name="updateModelOrderDate">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Müşteri</label>
                                <select class="form-control" name="updateModelCustomer" [(ngModel)]="updateModel.customerId"
                                 required>
                                    @for (item of customers; track $index) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Teslim Tarihi</label>
                                <input type="date" [(ngModel)]="updateModel.deliveryDate" required
                                    class="form-control" name="updateModelDeliveryDate">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label>Ürün</label>
                                <select class="form-control" [(ngModel)]="updateDetail.productId" [ngModelOptions]="{standalone:true}">
                                    @for (item of products; track item) {
                                        <option [value]="item.id">{{item.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Adet</label>
                                <input type="number" class="form-control" [(ngModel)]="updateDetail.quantity" 
                                 [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Birim Ücreti</label>
                                <input type="number" class="form-control" [(ngModel)]="updateDetail.price" 
                                 [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Toplam</label>
                                <br>
                                <label>{{updateDetail.price * updateDetail.quantity}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-dark" (click)="addUpdateDetail()">Ekle</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ürün Adı</th>
                                    <th>Adedi</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Toplam</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of updateModel.orderDetails; track item) {
                                    <tr>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.price | trCurrency:"₺": true}}</td>
                                        <td>{{item.price * item.quantity | trCurrency:"₺": true}}</td>
                                        <td>
                                            <button (click)="updateDetailRemove($index)"
                                             class="btn btn-outline-danger btn-sm">
                                             <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-100">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>